<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Wishes - 22nd Marriage Anniversary</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>Wishes for Mummy and Papa</h1>
    </header>
    <section class="all-wishes">
        <h2>All Wishes</h2>
        <div class="wish-messages" id="wish-messages"></div>
        <a href="index.html" class="back-link">Back to Main Page</a>
    </section>
    <footer>
        <p>&copy; 2024 Celebrating Mummy and Papa's Love</p>
    </footer>
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>
</html>
