body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background: linear-gradient(to right, #ff6f61, #de5d83);
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.intro {
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

.gallery {
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    animation: fadeIn 2s ease-in-out;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-item {
    margin: 10px;
}

.gallery-item img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.wishes {
    padding: 2.5%;
    background: #fff8e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    animation: slideIn 1s ease-in-out;
}

#wish-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wish-form input, #wish-form textarea {
    width: 100%;
    max-width: 40%;
    padding: 1% 1%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#wish-form button {
    padding: 1% 1.5%;
    margin-bottom: 5%;
    margin-top: 1%;
    background: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.3s ease;
}

#wish-form button:hover {
    background: #de5d83;
}

.view-wishes-link, .back-link {
    display: block;
    margin-top: 20px;
    color: #ff6f61;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.view-wishes-link:hover, .back-link:hover {
    color: #de5d83;
}

.all-wishes {
    padding: 20px;
    background: #fff8e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    animation: slideIn 1s ease-in-out;
}

.wish-messages .wish {
    background: white;
    margin: 10px auto;
    padding: 10px;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

footer {
    background: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.discussion {
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	flex-flow: column wrap;
}

.discussion > .bubble {
	border-radius: 1em;
	padding: 0.50em 0.75em;
	margin: 0.5em;
	max-width: 100%;
}

.discussion > .bubble.sender {
	align-self:flex-start;
	background-color: pink;
	color: #fff;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}